<schd-header-button
        [headerTitle]="headerTitle"
        [tooltipTitle]="tooltipTitle"
        [create]="onCreate">
</schd-header-button>

<schd-table
        [data]="data$"
        [columns]="columns"
        [sort]="sort"
        [tableContent]="tableContent"
        [sortingDataAccessor]="sortingDataAccessor"
        [useTableContentForFiltering]="useTableContentForFiltering"
        [pageSizeOptions]="pageSizeOptions"
        [filterAttrs]="filterAttrs"
        [delete]="onDelete"
        [edit]="onUpdate">
</schd-table>
