<ng-container class="lwm-container" [class.lwm-is-mobile]="mobileQuery.matches">
    <mat-toolbar *ngIf="userInfo" color="primary" class="lwm-toolbar">
        <button mat-icon-button (click)="nav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-sidenav-container class="lwm-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #nav mode='side'>
            <div id=sidebar-meta routerLink="" *ngIf="userInfo as user">
                <div id="sidebar-bubble">
                    <h4>{{user.initials}}</h4>
                </div>
                <div id="sidebar-nickname"><span>{{user.username}}</span></div>
                <div id="sidebar-user">{{user.name}}</div>
            </div>

            <mat-nav-list class="navListContainer">
                <div>
                    <h3 mat-subheader class="sidebarHeader moduleHeader">
                        <mat-icon>account_balance</mat-icon>
                        <span>Dozent</span>
                    </h3>
                    <a mat-list-item
                       routerLinkActive="list-item-active">
                        <mat-icon></mat-icon>
                        <span>Module</span>
                    </a>
                    <a mat-list-item
                       routerLinkActive="list-item-active">
                        <mat-icon></mat-icon>
                        <span>Stundenplanung</span>
                    </a>
                </div>

                <div *ngIf="isAdmin && menus as menus">
                    <h3 mat-subheader class="sidebarHeader configHeader">
                        <mat-icon>build</mat-icon>
                        <span>Konfiguration</span>
                    </h3>
                    <a *ngFor="let menu of menus"
                       mat-list-item
                       routerLinkActive="list-item-active"
                       [routerLink]="menu.routerLink">
                        <mat-icon>{{menu.icon}}</mat-icon>
                        <span>{{menu.label}}</span>
                    </a>
                </div>

                <h3 mat-subheader class="sidebarHeader logoutHeader" (click)="logout()">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Ausloggen</span>
                </h3>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
