@import "../../../schedule.vars.scss";

$menuBorderRadius: 5px;

.example-spacer {
  flex: 1 1 auto;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    width: 100%;
    padding: 0;
    margin: 0;

    button {
      margin-top: -4px;
      margin-left: 10px;
      margin-right: 10px;
    }

    schd-header {
      width: 100%;
    }
  }

  mat-sidenav {
    width: 300px;
    background-color: $sidebarBGColor !important;
    border: 0;
    margin-bottom: 0;

    mat-icon {
      margin-right: 7px;
      margin-left: 5px;
    }

    #sidebar-meta {
      text-align: center;

      #sidebar-user {
        margin: 0 0 20px 0 !important;
        color: $sidebarFontColor;
      }

      #sidebar-nickname {
        color: $sidebarFontColor;
        font-style: italic;
        font-size: 11px;
      }

      #sidebar-bubble h4 {
        margin: 20px 0 5px 0 !important;
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: darken($sidebarBGColor,20);

        //color: $sidebarBGColor;
        color: $sidebarFontColor;
        border-radius: 30px;
        line-height: 60px !important;
      }
    }


    mat-nav-list.navListContainer {
      width: 100%;
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      max-height: 100%;
      overflow: hidden;

      -webkit-transition: max-height 0.5s;
      -moz-transition: max-height 0.5s;
      -ms-transition: max-height 0.5s;
      -o-transition: max-height 0.5s;
      transition: max-height 0.5s;

      .sidebarHeader {
        background: darken($sidebarBGColor, 20);
        padding: 10px;
        display: flex;
        width: 100%;
        cursor: pointer;
        margin: 10px 0 0 0;

        justify-content: flex-start;
        align-items: center;
        color: $sidebarFontColor;
        font-weight: 700;
      }

      .moduleHeader {
        mat-icon {
          color: $th-magenta;
        }
      }

      .configHeader {
        mat-icon {
          color: $th-orange;
        }
      }

      .logoutHeader {
        mat-icon {
          color: $th-red;
        }
      }

      .mat-list-item {
        width: 100%;
        cursor: pointer;
        color: $sidebarFontColor;
        border-left: 4px solid darken($sidebarBGColor, 20);
        margin-left: 25px;
        height: 40px;


      }

      a.list-item-active {
        color: $sidebarFontColor;
        background: darken($sidebarBGColor, 10);
      }

    }

  }



}

.schedule-is-mobile .schedule-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.schedule-app-name {
  margin-left: 8px;
}

.schedule-sidenav-container {
  /* When the sidenav hasStatus not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.schedule-is-mobile .schedule-sidenav-container {
  /* When the sidenav hasStatus fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}



.mat-sidenav-content {
  padding: 10px;
}
