@import "../../../schedule.vars.scss";

.nav-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    background-color: $ivory;
    height: 60px;

    .nav-item {
        font-size: medium;
        color: $schedule-font-color;
    }
    border-bottom: 1px solid $ivory-border;
}