<form>
    <schd-filter-option [title]="'Lehreinheit'" [display]="displayTU" [values]="currentTeachingUnits"
                        (onSelect)="selectedTU($event)"></schd-filter-option>
    <schd-filter-option [title]="'Studiengang (mit PO)'" [display]="displayER" [values]="currentStudyProgramWithExam"
                        (onSelect)="selectedER($event)"></schd-filter-option>
    <schd-filter-option [title]="'Fachsemester'" [display]="displaySI" [values]="semesterIndices"
                        (onSelect)="selectedSI($event)"></schd-filter-option>
    <schd-filter-option [title]="'Veranstaltung'" [display]="displayC" [values]="currentCourses"
                        (onSelect)="selectedC($event)"></schd-filter-option>
    <schd-filter-option [title]="'Dozent'" [display]="displayL" [values]="currentLecturer"
                        (onSelect)="selectedL($event)"></schd-filter-option>
</form>

<div class="example-button-row">
    <button mat-button color="primary" (click)="search()">Suchen</button>
    <button mat-button color="warn" (click)="reset()">Zurücksetzen</button>
</div>
