<div>
    <div>
        <form>
            <schd-filter-option
                    [title]="'Lehreinheit'"
                    [display]="displayTU"
                    [values]="currentTeachingUnits"
                    (selectOption)="selectedTU($event)">
            </schd-filter-option>
            <schd-filter-option
                    [title]="'Studiengang (mit PO)'"
                    [display]="displayER"
                    [values]="currentStudyProgramWithExam"
                    (selectOption)="selectedER($event)">
            </schd-filter-option>
            <schd-filter-option
                    [title]="'Fachsemester'"
                    [display]="displaySI"
                    [values]="semesterIndices"
                    (selectOption)="selectedSI($event)">
            </schd-filter-option>
            <schd-filter-option
                    [title]="'Veranstaltungstyp'"
                    [display]="displayCourseType"
                    [values]="currentCourseTypes"
                    (selectOption)="selectedCourseType($event)">
            </schd-filter-option>
            <schd-filter-option
                    [title]="'Veranstaltung'"
                    [display]="displayC"
                    [values]="currentCourses"
                    (selectOption)="selectedC($event)">
            </schd-filter-option>
            <schd-filter-option
                    [title]="'Dozent'"
                    [display]="displayL"
                    [values]="currentLecturer"
                    (selectOption)="selectedL($event)">
            </schd-filter-option>
            <schd-filter-option
                    [title]="'Sprache'"
                    [display]="displayLang"
                    [values]="currentLanguages"
                    (selectOption)="selectedLang($event)">
            </schd-filter-option>
        </form>
    </div>

    <div class="buttonRow">
<!--        <button mat-button color="primary" (click)="search()">Suchen</button>-->
        <button mat-button color="warn" (click)="reset()">Zurücksetzen</button>
    </div>
</div>
