<mat-form-field>
    <input matInput
           type="text"
           [placeholder]='input.label'
           [formControl]="formControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption
                      #auto="matAutocomplete"
                      [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async"
                    [value]="option">
            {{displayFn(option)}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

