<ng-container *ngIf="semester | async as semester">
    <div class="schedule-header">
        <h1 class="space-between">
            <span>{{title}}</span>
            <span>{{semester.label}}</span>
        </h1>
    </div>
    <div>
        <schd-filter
                [semester]="semester"
                (onSearch)="searchSchedules($event)"
                (onReset)="resetSchedules()">
        </schd-filter>
    </div>
    <div class="schedule-view">
        <schd-schedule-view
                [scheduleEntries]="scheduleEntries">
        </schd-schedule-view>
    </div>
</ng-container>

<ng-template #noSemester>
    <h1>Kein Stundenplan zur Prüfung vorhanden</h1>
</ng-template>
