<ng-container>
    <div class="nav-container">
        <div class='header-box'>
            <div class='header-item red'></div>
            <div class='header-item orange'></div>
            <div class='header-item magenta'></div>
        </div>

        <div class="nav-box">
            <a class='nav-item' routerLink="/schedule" routerLinkActive="active">Stundenplan</a>
            <a class='nav-item'>Raumplan</a>
            <a class='nav-item'>Prüfungsplan</a>
            <a class='nav-item'>Modulhandbuch</a>
            <a class='nav-item' (click)="login.login()">
                <schd-login #login>Login</schd-login>
            </a>
        </div>
    </div>
</ng-container>

<!--<ng-container>-->
<!--    <div class='header-box'>-->
<!--        <div class='header-item red'></div>-->
<!--        <div class='header-item orange'></div>-->
<!--        <div class='header-item magenta'></div>-->
<!--    </div>-->

<!--    <div class="nav-box">-->
<!--        <a class='nav-item' routerLink="/schedule" routerLinkActive="active">Stundenplan</a>-->
<!--        <a class='nav-item'>Raumplan</a>-->
<!--        <a class='nav-item'>Prüfungsplan</a>-->
<!--        <a class='nav-item'>Modulhandbuch</a>-->
<!--        <a class='nav-item' (click)="login.login()">-->
<!--            <schd-login #login>Login</schd-login>-->
<!--        </a>-->
<!--    </div>-->
<!--</ng-container>-->
