// FONT
$schedule-font-family: "Helvetica Neue", "Ostrich Sans", sans-serif;
$schedule-font-color: rgb(32, 32, 32);

// COLORS
$th-orange: #ea5a00;
$th-red: #c81e0f;
$th-magenta: #b43092;
$th-white: #f8f8f8;


$ivory: #F8F8F8;
$ivory-border: #E7E7E7;
