@import "schedule.vars.scss";

$th-magenta-pal: palette-from($th-magenta);
$th-orange-pal: palette-from($th-orange);
$th-red-pal: palette-from($th-red);

@function palette-from($color) {
    @return (
            50: lighten($color, 50%),
            100: lighten($color, 40%),
            200: lighten($color, 30%),
            300: lighten($color, 20%),
            400: lighten($color, 10%),
            500: $color,
            600: darken($color, 10%),
            700: darken($color, 20%),
            800: darken($color, 30%),
            900: darken($color, 40%),
            A100: darken($color, 50%),
            A200: darken($color, 60%),
            A400: darken($color, 70%),
            A700: darken($color, 80%),
            contrast: (
                    50: $black-87-opacity,
                    100: $black-87-opacity,
                    200: $black-87-opacity,
                    300: $black-87-opacity,
                    400: $black-87-opacity,
                    500: white,
                    600: white,
                    700: white,
                    800: $white-87-opacity,
                    900: $white-87-opacity,
                    A100: $black-87-opacity,
                    A200: white,
                    A400: white,
                    A700: white,
            )
    );
  }
